/* 
- Mobile: 375px
- Desktop: 1440px


- Green: hsl(75, 94%, 57%)

- White: hsl(0, 0%, 100%)

- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 14px
- Weights: 400, 600, 700 


/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62%;
}

body {
  background-color: rgb(60, 59, 59);
  margin: 0 auto;
  padding: 0.8rem;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;

  color: white;
  font-size: 1.4rem;
  font-family: "inter";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
  background-color: rgb(24, 23, 23);
  border-radius: 1.6rem;
  padding: 3.6rem;
  text-align: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

img {
  border-radius: 50%;
  width: 50%;
}
.name {
  font-size: 3.2rem;
}
.bio {
  color: hsl(0, 0%, 42%);
}
.Location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}

.list {
  padding: 1.6rem;
  list-style: none;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.link {
  width: 30rem;
  text-align: center;
  border-radius: 1.2rem;
  background-color: rgb(49, 49, 49);
  padding: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.link:hover {
  background-color: hsl(75, 94%, 57%);
}
